<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaguarlabs.sancarlos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name="com.jaguarlabs.sancarlos.Splash"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		        
        <activity
            android:name="com.jaguarlabs.sancarlos.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:launchMode="singleTask">           
        </activity>
        
        <activity
            android:name="com.jaguarlabs.sancarlos.Consultas"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        
        <activity
            android:name="com.jaguarlabs.sancarlos.ListaExpediente"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        
        <activity
            android:name="com.jaguarlabs.sancarlos.HistorialClinico"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        
        <activity
             android:name="com.jaguarlabs.sancarlos.Expediente"
             android:label="@string/app_name" 
             android:screenOrientation="portrait"
             android:launchMode="singleTask">
        </activity> 
        
        <activity
             android:name="com.jaguarlabs.sancarlos.Login"
             android:label="@string/app_name" 
             android:screenOrientation="portrait"
             android:launchMode="singleTask">
        </activity> 
        
    </application>

</manifest>